<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Kris Vanhoutte.
  ~ Copyright (c) 2016. All rights reserved.
  ~
  ~ Last modified 10/12/16 8:17 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getslapp.slapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/slapp_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetupActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
    </application>

</manifest>